#container{
    background-color: #4bb1d3;
    width: 1300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 110px;
}

#parent{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(5,1fr);
        border: 1px solid;
        background-color:#282d2d;
        gap: 10px;
        padding: 20px;
        border-radius: 20px;
        width: 1000px;
        text-align: center;
        align-items: center;
}

#parent>div{
        background-color:#2e3538;
        color: #4bb1d3;
        width: auto;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
.enter{
    grid-column: span 2;
}

.space{
    grid-column: span 4;
}


